.main-container {
  width: 410px;
  border: 2px solid black;
  border-radius: 23px;
  padding: 5px;
}

.main-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.main-container > div > div {
  background: gray;
  border-radius: 23px;
}

.first-box {
  width: 100px;
  height: 40px;
}
.second-box {
  width: 140px;
  height: 40px;

}
.third-box {
  width: 200px;
  height: 40px;
}

