p {
  font-size: 16px;
}

.field-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 450px;
  height: 90px;
}

.input-field {
  margin: 10px 10px;
  height: 20px;
}

input[type=password] {
  font-size: 18px;
  width: 200px;
  height: 20px;
}

input[type=text] {
  font-size: 18px;
  width: 200px;
  height: 20px;
}

input.check {
  width: 20px;
  height: 20px;
}

.check-form {
  display: flex;
  align-items: center;
  height: 40px;
  width: 200px;
}
